body{
    background-color: black;
}

h1{
    color:blue;
}

p{
    
    border-radius: 7%;
    padding-top: 5.5%;
    padding-bottom: 5.5%;
}

p:hover{
    background-color:blueviolet ;
}